/app/config/parameters.yml
/build/
/phpunit.xml
/var/*
!/var/cache
/var/cache/*
!var/cache/.gitkeep
!/var/logs
/var/logs/*
!var/logs/.gitkeep
!/var/sessions
/var/sessions/*
!var/sessions/.gitkeep
!var/SymfonyRequirements.php
/vendor/
/web/bundles/

/web/images
/web/assets
/web/bundles
/app/config/parameters.yml.dist
/web/css/.sass-cache
/src/ShopBundle/Controller/VendWebhookController.php
/src/AppBundle/Controller/PxPayController.php
