/* breadcrumbs */
.c-breadcrumbs {
	width: 100%;
	border-bottom: 1px solid #bfbfbf;
	padding: 17px 0 12px;
	font-size: 11px;
	font-weight: 400;
	line-height: 17px;
	color: #000;
	text-transform: uppercase;
	
	a {
		display: block-inline;
		color: #000;
		font-weight: 700;

		&:hover {
			color: $global-primary-color;
		}
	}
}
