/* responsive */
@media (max-width: 1199px) {
	.c-header {
		padding: 0 25px;
	}
	.c-menu-popup {
		.first {
			padding-left: 32px;
		}
	}
	.c-call-top {
		left: 10%;
	}
	.c-logo {
		left: 0;
	}
	.o-wrapper {
		padding: 0 25px;
	}
}

@media (min-width: 980px) and (max-width: 1199px) {
	.c-main-menu {
		right: 0;
		
		a {
			margin: 0 2rem;
		}
	}
}

@media (max-width: 979px) {
	#footer .c-btn--wide {
		width: 100%;
	}
}

@media (min-width: 768px) and (max-width: 979px) {
	.c-main-menu {
		right: 0;
		
		a {
			margin: 0 .6rem;
			letter-spacing: 0.04em;
		}
	}

	.c-call-top {
		visibility: hidden;
	}
	.sale {
		display: none;
	}
	.o-sale-mobile {
		display: block;
		width: 30%!important;
	}
	.c-page-padded, .c-ski-finder {
		width: 100%!important;
		padding: 40px 0;
	}
}

@media screen and (min-width: 768px) {
	.u-visible-xs {
		display: none!important;
	}
}
@media screen and (max-width: 767px) {
	.u-visible-xs {
		display: inline!important;
	}
	.u-hidden-xs {
		display: none;
	}
	.o-layout {
		margin-right: 0!important;
	}
	.o-layout__item {
		padding-right: 0!important;
	}
	.c-main-menu, .c-call-top, .c-search {
		display: none;
	}

	.c-main-menu {
		padding: 10px 0;
		background: #fff;
		top: 0;
		left: -20px;
		right: -20px;
		height: 210px;
	
		li {
			display: block;
			padding: 2px 0;
		}
	
		a {
			text-transform: uppercase;
			color: #000;
			font-weight: 600;
			font-size: 12.5px;
			letter-spacing: 0.11em;
			padding: 0;
			margin: 5px 0 0 25px;
			
			&:hover, &.active {
				border: none;
				color: $global-primary-color;
			} 
		}
	
		i {
			position: absolute;
			right: 0;
			z-index: 100000;
		}
	}

	.c-header {
		padding: 0 25px;
		
		i {
			position: absolute;
			top: 20px;
			right: 40px;
			font-size: 20px;
		}
	}

	#popup-cart, #popup-wishlist {
		min-width: 100%;
	}

	#popup-contact {
		padding: 20px;
	}

	.o-cart-item, .o-wishlist-item {
	
		&-image {
			width: 80px;
			padding-left: 20px;
			
			img {
				width: 100%;
			}
		}
	
		&-details {
			width: calc(100% - 140px);
			padding-left: 10px;
		}
	
		&-remove {
			width: 60px;
			text-align: right;
			cursor: pointer;
			padding-right: 20px;
			
			&:hover {
				opacity: .5;
			}
	
			img {
				width: auto!important;
			}
		}
	}
	.o-cart-total {
		margin: 25px 20px 0;
		
		.c-btn--checkout {
			padding: 25px 0 20px;
			width: 100%;
		}
	}

	.c-menu-popup {
		position: fixed;
		top: 37px;
		border-top: 1px solid $global-primary-color;
		overflow-y: scroll;
		border: none;
		
		i {
			position: fixed;
			top: 58px;
			right: 21px;
			font-size: 20px;
		}

		.first {
			padding-left: 32px;
		}

		ul {
			margin: 20px;
		}
		.o-layout__item {
			margin-bottom: 0;
			padding-bottom: 0;
		}
	}

	.carousel-inner {
		
		> .item {
			height: 270px;
		}
			
		img {
			position: relative;
			left: 50%;
			transform: translateX(-50%);
			-webkit-transform: translateX(-50%);
			width:auto;
			height:270px;
		}

		.overlay {
			left: 0;
		}
	}

	.carousel-caption {
		left: auto!important;
		right: auto!important;
		top: 20%;
		text-align: center;
		width: 100%;
		
		h1 {
			font-size: 32px;
			margin-bottom: 20px!important;
		}
	}

	.carousel-indicators {
		display: none;
	}

	.c-toolbar-right {
		width: 100%;
		right: 0;
		padding: 0 5px;
		
		> div {
			float: right;
		}
	}

	.c-banner {
		overflow: hidden;
		height: 270px;
		
		img {
			position: relative;
			left: 50%;
			transform: translateX(-50%);
			-webkit-transform: translateX(-50%);
			width:auto;
			height:270px;
		}
	
		figcaption {
			left: 30px;
			padding: 20px;
			
			h1 {
				font-size: 32px;
			}
		}
	
		.sale {
			display: none;
		}
	}

	.o-sale-mobile {
		display: block;
		width: 40%!important;
	}

	.c-call {
		> div {
			> * {
				display: block;
				margin: 10px auto;
			}
		}
	}

	#footer .bottom {
		
		padding: 5px 0;
			 
		> div {
		 width: 100%;
		 text-align: center;
		 margin: 5px 0 0;
		}
	}

	.c-page-padded, .c-ski-finder {
		width: 100%!important;
		padding: 40px 0;
	}

	.c-blog figcaption {
		padding: 30px 25px;
		bottom: 30px;

		h3 {
			margin-bottom: 10px;
			font-size: 24px;
		}
		
		div {
			overflow: hidden;
		}
	}
}
@media (max-width: 479px) {
	.c-home figcaption {
		bottom: 20px;

		h2 {
			font-size: 24px;
			margin-bottom: 10px;
		}
	}

	.o-sale-mobile {
		display: block;
		width: 50%!important;
	}
}