/* misc */

.debug {
	border: 1px solid;
}

.clear {
	clear: both;
}
.grecaptcha-badge {
	display: none;
}

.u-left {
	float: left;
}
.u-right {
	float: right;
}

.u-center {
	text-align: center;
}

.u-no-border {
	border: 0!important;
}

.visible-xs {
	display: none;
}

hr {
	border: none;
	border-top: 1px solid #d5d5d5;
}

/* tooltip */
.u-tooltip-text {
	display:none;
	position:absolute;
	z-index: 10001;
	padding:18px 23px 13px;
	color:#898989;
	font-size:12.5px;
    background: #fff;
    box-shadow: 0px 2px 5px rgba(0,0,0,.13) ,1px 2px 4px rgba(0,0,0,.1) , -1px -2px 4px rgba(0,0,0,.05) ;
}


/* color overrides */
.u-bg-blue {
	background: $global-primary-color;
	color: #fff;
}
.u-bg-gray {
	background: $global-secondary-color;
}

hr.u-blue {
	border: none;
	border-top: 1px solid $global-primary-color;
	margin: 15px 0;
}
.u-black {
	color: #000!important;
}

.u-blue {
	color: $global-primary-color!important;
}
.u-gray {
	color: #a6a6a6;
}

/* font sizes */
$font-sizes: 11 13 15;

@mixin font-sizes($sizes) {

  @each $size in $sizes {

    .u-fs-#{$size} {
    	font-size: $size + px;
    }
  }
}

@include font-sizes($font-sizes);

/* font weights */
$font-weights: 200 300 400 600 700 900;

@mixin font-weights($weights) {

  @each $weight in $weights {

    .u-fw-#{$weight} {
    	font-weight: $weight;
    }
  }
}

@include font-weights($font-weights);


/* letter spacing */
$letter-spacings: 20 110 150;

@mixin letter-spacings($items) {

  @each $item in $items {
    .u-ls-#{$item} {
      letter-spacing: ($item/1000) + em;
    }
  }
}

@include letter-spacings($letter-spacings);

/* text transformations */

$text-transforms: none uppercase;

@mixin text-transforms($items) {

  @each $item in $items {

    .u-tt-#{$item} {
    	text-transform: $item;
    }
  }
}

@include text-transforms($text-transforms);

/* paddings */
$single-padding-widths: 20 25 30 40;

@mixin single-padding($widths) {

  @each $width in $widths {

    .u-pt-#{$width} {
    	padding-top: $width + px;
    }

	.u-pb-#{$width} {
    	padding-bottom: ($width - 2) + px;
    }
   
    .u-pv-#{$width} {
    	padding-top: $width + px;
    	padding-bottom: ($width - 2) + px;
    }
    
  }
 
  @media (min-width: 61.25em) {
 	@each $width in $widths {
      .u-pl-#{$width} { 
    	padding-left: $width + px!important;
      }

   	  .u-pr-#{$width} {
    	padding-right: $width + px;
      }
    }
  }
}

@include single-padding($single-padding-widths);

/* margins */
$single-margin-widths: 35 40 55;

@mixin single-margin($widths) {

  @each $width in $widths {
  	
    .u-ml-#{$width} { 
    	margin-left: $width + px;
    }

    .u-mr-#{$width} {
    	margin-right: $width + px;
    }

    .u-mt-#{$width} {
    	margin-top: $width + px;
    }

	.u-mb-#{$width} {
    	margin-bottom: $width + px;
    }

  }
}

@include single-margin($single-margin-widths);

/* o-layout utilities */
$custom-padding: 30 40 52 56 60;

@mixin custom-padding($items) {

  @each $item in $items {
  	
    .u-ml-#{$item} { 
    	margin-left: -$item + px!important;
    }

    .u-pl-#{$item} {
    	padding-left: $item + px!important;
    }
  }
}

@include custom-padding($custom-padding);

/* to top */
#return-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.7);
    width: 40px;
    height: 40px;
    display: block;
    text-decoration: none;
    display: none;
    -webkit-transition: all $global-transition;
    -moz-transition: all $global-transition;
    -ms-transition: all $global-transition;
    -o-transition: all $global-transition;
    transition: all $global-transition;
    z-index: 99999;
    
    i {
	    color: #fff;
	    margin: 0;
	    position: relative;
	    left: 11px;
	    top: 8px;
	    font-size: 19px;
	    -webkit-transition: all 0.3s ease;
	    -moz-transition: all 0.3s ease;
	    -ms-transition: all 0.3s ease;
	    -o-transition: all 0.3s ease;
	    transition: all 0.3s ease;
	}

	&:hover {
	    background: rgba(0, 0, 0, 0.9);
	    
	    i {
		    color: #fff;
		    top: 5px;
		}
	}
}
