.c-page {
	font-size: 12.5px;
	line-height: 26px;
	letter-spacing: .035em;
	
	img {
		width: 100%;
		height: auto;
	}

	h1, h2 {
		font-size: 21px;
		font-weight: 200;
		letter-spacing: .08em;
		text-transform: uppercase;
	}

	h3 {
		font-size: 13px;
		text-transform: uppercase;
		font-weight: 700;
		letter-spacing: .1em;
	}

	strong, b {
		font-weight: 600;
		letter-spacing: .1em;
	}

	&-padded {
		padding: 80px 0;
		width: 700px;
		position: relative;
		left: 50%;
		transform: translateX(-50%);
		-webkit-transform: translateX(-50%);
	}

	ul, ol {
		margin-top: 0;
		margin-left: 13px;
		
		li {
			padding: 7px 0;
		}
	}
	
	ol li {
	
		margin: 0;
		padding: 0 0 0 2em;
		text-indent: -2em;
		list-style-type: none;
		counter-increment: item;
	  	
		&:before {
			display: inline-block;
			width: 1em;
			padding-right: 0.5em;
			font-weight: bold;
			text-align: right;
			content: counter(item) ".";
		}
	}

	hr {
		margin: 40px 0;
	}
}