/* responsive */
@media (max-width: 1199px) {
	.c-header {
		padding: 0 25px;
	}
	.c-menu-popup {
		max-height: 300px;
		overflow-y: scroll;
		
		.noborder {
			padding-left: 32px;
		}
	}

	.c-call-top {
		left: 10%;
	}
	.c-logo {
		left: 0;
	}
	.o-wrapper {
		padding: 0 25px;
	}
}

@media (min-width: 980px) and (max-width: 1199px) {
	.c-main-menu {
		right: 0;
		
		a {
			margin: 0 15px;
		}
	}

	.c-menu-popup {
		padding-left: 25px;
		padding-right: 25px;
	}
}

@media (max-width: 979px) {
	#footer .c-btn--wide {
		width: 100%;
	}

	.c-call {
		> div {
			> * {
				display: block;
				margin: 10px auto;
			}
		}
	}

	.u-visible-xs {
		display: inline;
	}

 	#recaptcha_sub {
 		margin-top: -30px!important;
 	}

	.c-logo {
	    position: relative;
	    left: 50%!important;
	    transform: translateX(-50%);
	    -webkit-transform: translateX(-50%);
    	top: 10px;
		height: 45px;
	}

	.c-menu-mobile {
		background: #fff!important;
		height: 500px;
		overflow-y: scroll;
		position: absolute;
		left: 0;
		right: 0;
		top: 55px;
		z-index: 100001;
		font-size: 12px;
		font-weight: 300;
		letter-spacing: .04em;
		margin: 0;
		padding: 15px 20px;
		
		> a > div, .sub-link {
			display: block;
			padding: 15px 0 10px;
		}
	
		.sub-link-items a > div {
			display: block;
			padding: 5px 10px 5px 0;
		}
	
		.main-link, .sub-link {
			font-size: 12.5px;
			letter-spacing: .11em;
			text-transform: uppercase;
			display: flex;
			justify-content: space-between;
			border-bottom: 1px solid #bfbfbf;
		}
	
		.main-link-items, .sub-link-items {
			display: none;
			border-bottom: 1px solid #bfbfbf;
		}
	
		.sub-link:hover {
			color: $global-primary-color;
		}
	
		.sub-link-items {
			padding: 10px;
		}
	
		.main-link {
			font-weight: 600;
		}
	
		a {
			color: #000;
			display: block!important;
			
			&:hover {
				color: $global-primary-color;
			}
		}
	}
}

@media screen and (min-width: 768px) {
	.u-visible-xs {
		display: none;
	}
}

@media (min-width: 768px) and (max-width: 979px) {
	.c-main-menu {
		display: none!important;
	}

	.c-logo {
    	top: 22px;
		height: 66px;
	}

	.c-menu-mobile-button {
		position: absolute;
		left: 0px;
		top: 40px;
		padding: 10px;
		cursor: pointer;
		
		&:hover {
			opacity: .8;
		}
	}

	.c-menu-mobile {
		top: 140px;
		padding: 15px 25px;
	}
	.c-call-top {
		visibility: hidden;
	}

	.carousel-inner {
		
		> .item {
			height: 400px;
		}
			
		img {
			height:400px;
		}
	}

	.sale {
		display: none;
	}
	.o-sale-mobile {
		display: block;
		width: 30%!important;
	}
	.c-page-padded, .c-ski-finder {
		width: 100%!important;
		padding: 40px 0;
	}

	#footer .social > div{
		bottom: 0;
	}

	.u-visible-sm {
		display: inline;
	}
}

@media screen and (min-width: 979px) {
	.u-visible-sm {
		display: none!important;
	}
}
@media screen and (max-width: 767px) {
	body {
		margin-top: 105px;
	}

	textarea {
		height: 60px!important;
	}

	.o-wrapper--full-xs {
			padding: 0;
	}
	.u-visible-xs {
		display: inline;
	}
	.u-hidden-xs {
		display: none;
	}
	.u-ph-25-xs {
		padding-left: 25px!important;
		padding-right: 25px!important;
	}

	.u-pv-0-xs {
		padding-top: 0!important;
		padding-bottom: 0!important;
	}

	.u-mv-0-xs {
		margin-top: 0!important;
		margin-bottom: 0!important;
	}

	.o-layout {
		margin-right: 0!important;
	}
	.o-layout__item {
		padding-right: 0!important;
	}
	.c-main-menu, .c-call-top, .c-search {
		display: none!important;
	}

	.c-header {
		padding: 0 25px;
	}

	#popup-cart, #popup-wishlist {
		min-width: 100%;
	}

	#popup-contact {
		padding: 20px;
	}

	.o-cart-item, .o-wishlist-item {
	
		&-image {
			width: 80px;
			padding-left: 20px;
			
			img {
				width: 100%;
			}
		}
	
		&-details {
			width: calc(100% - 140px);
			padding-left: 10px;
		}
	
		&-remove {
			width: 60px;
			text-align: right;
			cursor: pointer;
			padding-right: 20px;
			
			&:hover {
				opacity: .5;
			}
	
			img {
				width: auto!important;
			}
		}
	}
	.o-cart-total {
		margin: 25px 20px 0;
		
		.c-btn--checkout {
			padding: 25px 0 20px;
			width: 100%;
		}
	}

	.c-menu-popup {
		position: fixed;
		top: 37px;
		border-top: 1px solid $global-primary-color;
		overflow-y: scroll;
		border: none;
		
		i {
			position: fixed;
			top: 58px;
			right: 21px;
			font-size: 20px;
		}

		.first {
			padding-left: 32px;
		}

		ul {
			margin: 20px;
		}
		.o-layout__item {
			margin-bottom: 0;
			padding-bottom: 0;
		}
	}

	.carousel-inner {
		
		> .item {
			height: 300px;
		}
			
		img {
			position: relative;
			left: 50%;
			transform: translateX(-50%);
			-webkit-transform: translateX(-50%);
			width:auto;
			height:300px;
		}

		.overlay {
			left: 0;
		}
	}

	.carousel-caption {
		left: auto!important;
		right: auto!important;
		top: 20%;
		text-align: center;
		width: 100%;
		
		h1 {
			font-size: 32px;
			margin-bottom: 20px!important;
		}
	}

	.carousel-indicators {
		display: none;
	}

	.c-banner {
		overflow: hidden;
		height: 300px;
		
		img {
			position: relative;
			left: 50%;
			transform: translateX(-50%);
			-webkit-transform: translateX(-50%);
			width:auto;
			height:300px;
		}
	
		figcaption {
			left: 30px;
			padding: 20px;
			
			h1 {
				font-size: 32px;
			}
		}
	
		.sale {
			display: none;
		}
	}

	.o-sale-mobile {
		display: block;
		width: 40%!important;
		margin-top: -40px;
	}

	#footer .bottom {
		
		padding: 0 0 20px;
			 
		> div {
		 width: 100%;
		 text-align: center;
		 margin: 0 0 5px;
		}
	}

	.c-page-padded, .c-ski-finder {
		width: 100%!important;
		padding: 40px 0;
	}

	.c-blog {
		margin: 0;
		
		figcaption {
			padding: 35px 25px 20px;
			bottom: 30px;
	
			h3 {
				margin-bottom: 10px;
				font-size: 24px;
			}
			
			div {
				overflow: hidden;
			}
		}
	}

	.o-shop-page {
		font-size: 13px;
		line-height: 16px;
	
		figcaption div {
			max-width: 100px;
			bottom: 15px;
			left: 15px;
		}
	}
}
@media (max-width: 479px) {
	.c-home figcaption {
		bottom: 20px;

		h2 {
			font-size: 24px;
			margin-bottom: 10px;
		}
	}

	.o-sale-mobile {
		display: block;
		width: 50%!important;
	}
}