/* main menu */
.c-main-menu {
	position: absolute;
	bottom: -6px;
	right: 82px;

	li {
		display: inline-block;
	}

	a {
		text-transform: uppercase;
		color: #000;
		font-weight: 600;
		font-size: 12.5px;
		letter-spacing: 0.11em;
		padding: 14px 0;
		margin: 0 25px;
		
		&:hover, &.active {
			border-bottom: 3px solid $global-primary-color;
			color: $global-primary-color;
		} 
	}
}

.c-main-menu-mobile {
	position: absolute;
	right: -10px;
	top: 45px;
	padding: 10px;
	
	&:hover {
		opacity: .8;
	}
}

/* main menu popups */
.c-menu-popups {
	position: relative;
}

.c-menu-popup {
	position: absolute;
	left: 0;
	top: 0;
	z-index: 10001;
	display: none;
	padding: 20px 0;
	width: 100%;
	background: #fff;
	
	&.active {
		display: block;
	}

	b {
		text-transform: uppercase;
		font-size: 12.5px;
		font-weight: 600;
		letter-spacing: 0.11em;
	}

	.o-layout--flush {
		overflow: hidden;
	}

	.o-layout__item {
		border-left: 1px solid #bfbfbf;
		padding-left: 32px;
		margin-bottom: -200px;
		padding-bottom: 200px;
	}

	.first {
		border: none;
		padding: 0;
	}

	ul {
		margin: 10px 0 0;
	}

	a {
		padding: 4px 0;
		display: block;
		color: #000;
		letter-spacing: .04em;
		
		&:hover {
			color: $global-primary-color;
		}
	}
}
