<section id="header">
	<form method="get">
    <div class="c-toolbar">
    	<div class="o-wrapper o-box--flush">
    		<div class="c-call-top">
    			Call Us: 03 318 8433
    		</div>
        	<div class="c-toolbar-right">
                {% if logged %}
                    <a href="/admin" class="u-tooltip" title="Admin">Account</a>
                    <a href="/logout" class="u-no-border u-tooltip" title="Logout">Logout</a>
                {% else %}
                    <a href="#" data-toggle="modal" data-target="#loginModal">Sign In</a>
                    <a href="#" class="u-no-border">Join</a>
                {% endif %}
        		<input type="text" name="search" class="c-search u-form-control" />
        		<div>
            		<div class="c-box-icon heart u-tooltip" title="Wishlist">
            			<a href="wishlist" class="toolbar-link" id="wishlist">&nbsp;</a>
            		</div>
            		<div class="c-box-icon cart u-tooltip" title="Shopping Bag">
            			<a href="cart" class="toolbar-link" id="cart">&nbsp;</a>
            			<div>0</div>
            		</div>
            		<div class="c-box-icon location u-tooltip" title="Find Us">
            			<a href="#" class="toolbar-link" id="find-us">&nbsp;</a>
            		</div>
            		<div class="c-box-icon account u-tooltip" title="Contact">
            			<a href="#" class="toolbar-link" id="contact">&nbsp;</a>
	        		</div>
        		</div>
        	</div>
        	<div class="c-toolbar-popup" id="popup-wishlist">
        		<b>Wishlist</b>
        	</div>
        	<div class="c-toolbar-popup" id="popup-cart">
        		<b>Shopping Bag</b>
        	</div>
        	<div class="c-toolbar-popup" id="popup-find-us">
        		<b>Find Us</b>
        	</div>
        	<div class="c-toolbar-popup" id="popup-contact">
        		<ul class="o-list-bare">
        			<li><a href="#">VIP Pricing</a></li>
        			<li><a href="#">Join</a></li>
        			<li><a href="#">Sign In</a></li>
        			<li><a href="#">Contact</a></li>
        		</ul>
        	</div>
    	</div>
    </div>
    </form>
    <div class="c-header">
    	<div class="o-wrapper">
    		<a href="/"><img class="c-logo" src="{{ asset('images/logo.png') }}" alt="Gnomes Alpine Sports" /></a>
    		<ul class="c-main-menu o-list-inline">
    			<li><a class="menu-link" id="shop" href="#">Shop</a></li>
    			<li><a class="menu-link" id="rental" href="#">Rental</a></li>
    			<li><a class="menu-link" id="ski" href="#">Ski Boot Fitting</a></li>
    			<li><a class="menu-link" href="#">Brands</a></li>
    			<li><a class="menu-link" href="#">Blog</a></li>
    			<li><a class="menu-link" href="#">About</a></li>
    			<li><a class="menu-link" href="#">Contact</a></li>
    		</ul>
    	</div>
    </div>
    <div class="o-wrapper c-menu-popups">
    	<div class="c-menu-popup" id="popup-shop">
			<div class="o-layout--flush">
				<div class="o-layout__item first u-1/5@desktop u-1/3@tablet u-1/2@mobile">
					<a href="#"><b>Ski Equipment</b></a>
					<ul class="o-list-bare">
						<li><a href="#">Skis</a></li>
						<li><a href="#">Ski Boots</a></li>
						<li><a href="#">Ski Bindings</a></li>
						<li><a href="#">Ski Poles</a></li>
						<li><a href="#">Avalanche Safety</a></li>
						<li><a href="#">Ski Crampons</a></li>
						<li><a href="#">Climbing Skins</a></li>
						<li><a href="#">Ski Boot Accessories</a></li>
						<li><a href="#">Ex-Demo Skins</a></li>
					</ul>
				</div><div class="o-layout__item u-1/5@desktop u-1/3@tablet u-1/2@mobile">
					<a href="#"><b>Clothing</b></a>
					<ul class="o-list-bare">
						<li><a href="#">Jackets</a></li>
						<li><a href="#">Pants</a></li>
						<li><a href="#">Base & Mid Layers</a></li>
						<li><a href="#">Gloves & Mitts</a></li>
						<li><a href="#">Socks</a></li>
						<li><a href="#">Headwear</a></li>
						<li><a href="#">Casual</a></li>
						<li><a href="#">Mons Royale</a></li>
						<li><a href="#">Snow Boots</a></li>
					</ul>
				</div><div class="o-layout__item u-1/5@desktop u-1/3@tablet u-1/2@mobile">
					<a href="#"><b>Accessories</b></a>
					<ul class="o-list-bare">
						<li><a href="#">Goggles</a></li>
						<li><a href="#">Helmets</a></li>
						<li><a href="#">Protection</a></li>
						<li><a href="#">Servicing Tools</a></li>
						<li><a href="#">Quiver Killers</a></li>
						<li><a href="#">Sunglasses</a></li>
						<li><a href="#">Luggage</a></li>
						<li><a href="#">Nutcracker/Ropetow</a></li>
						<li><a href="#">Sun Care</a></li>
						<li><a href="#">Snow Chains</a></li>
						<li><a href="#">Gift Vouchers</a></li>
						<li><a href="#">Snow Accessories</a></li>
					</ul>
				</div><div class="o-layout__item u-1/5@desktop u-1/3@tablet u-1/2@mobile">
					<a href="#"><b>Outlet</b></a>
					<ul class="o-list-bare">
						<li><a href="#">Skis</a></li>
						<li><a href="#">Ex-Demo Skis</a></li>
						<li><a href="#">Ski Bindings</a></li>
						<li><a href="#">Ski Poles</a></li>
						<li><a href="#">Ski Boots</a></li>
						<li><a href="#">Jackets</a></li>
						<li><a href="#">Pants</a></li>
						<li><a href="#">Thermals & Socks</a></li>
						<li><a href="#">Gloves & Mitts</a></li>
						<li><a href="#">Goggles</a></li>
						<li><a href="#">Helmets & Protection</a></li>
					</ul>
				</div><div class="o-layout__item u-1/5@desktop u-1/3@tablet u-1/2@mobile">
					<a href="#"><b>Summer Clothing</b></a>
					<ul class="o-list-bare">
						<li><a href="#">Tops</a></li>
						<li><a href="#">Pants & Shorts</a></li>
						<li><a href="#">Skirts & Dresses</a></li>
						<li><a href="#">Headwear</a></li>
						<li><a href="#">Shoes</a></li>
						<li><a href="#">Sandals</a></li>
						<li><a href="#">Socks</a></li>
						<li><a href="#">Camping</a></li>
					</ul>
				</div>
			</div>
		</div>
		<div class="c-menu-popup" id="popup-rental">
			<div class="o-layout--flush">
				<div class="o-layout__item first u-1/5@desktop u-1/3@tablet u-1/2@mobile">
					<a href="#">Ski & Board Rental</a>
				</div><div class="o-layout__item u-no-border u-1/5@desktop u-1/3@tablet u-1/2@mobile">
					<a href="#">Online Booking Form</a>
				</div><div class="o-layout__item u-no-border u-1/5@desktop u-1/3@tablet u-1/2@mobile">
					<a href="#">Price Schedule</a>
				</div><div class="o-layout__item u-no-border u-1/5@desktop u-1/3@tablet u-1/2@mobile">
					<a href="#">FAQ’s</a>
				</div>
			</div>
			<div class="o-layout--flush">
				<div class="o-layout__item u-1/1 first u-no-border">
					<a href="#" class="u-blue">Book your rental gear online and save 10%!</a>
				</div>
			</div>
		</div>
		<div class="c-menu-popup" id="popup-ski">
			<div class="o-layout--flush">
				<div class="o-layout__item first u-1/5@desktop u-1/3@tablet u-1/2@mobile">
					<a href="#">Custom Boot Fitting</a>
				</div><div class="o-layout__item u-no-border u-1/5@desktop u-1/3@tablet u-1/2@mobile">
					<a href="#">Analysis System</a>
				</div><div class="o-layout__item u-no-border u-1/5@desktop u-1/3@tablet u-1/2@mobile">
					<a href="#">FAQ’s</a>
				</div>
			</div>
		</div>
    </div>
</section>