<form method="post">
<div class="c-call u-mb-40">
    <div class="c-subscribe u-bg-gray u-pv-40">
    	<div class="u-tt-uppercase u-margin-none u-ls-110">Stay tuned</div>
    	<input type="text" class="u-form-control" name="name" placeholder="Name" />
    	<input type="text" class="u-form-control" name="email" placeholder="Email" />
    	<input type="submit" class="c-btn c-btn--primary c-btn--small" value="GO" />
    </div>
</div>
</form>