{% extends "admin_base.html.twig" %}
{% form_theme form 'bootstrap_3_layout.html.twig' %}
{% block header %}Change Password{% endblock %}
{% block body %}
    {{ form_start(form, { 'action': path('fos_user_change_password'), 'attr': { 'class': 'fos_user_change_password' } }) }}
    {{ form_widget(form) }}
    <div>
        <input type="submit" value="Change Password" class="btn btn-primary" />
    </div>
    {{ form_end(form) }}
{% endblock %}
