<p>Set the default tax rate to use when adding new products.</p>
<p id="warning"{% if default %} class="hidden"{% endif %}><b>Warning: </b>No default sales tax set.</p>
<table class="table table-striped">
	<thead>
		<tr>
			<th>Name</th>
			<th>Rate</th>
			<th class="th-toggle">Default</th>
		</tr>
	</thead>
	<tbody>
	{% for item in items %}
		<tr>
			<input type="hidden" value="{{ item.id }}" />
			<td>{{ item.name }}</td>
			<td>{{ item.rate * 100 }}%</td>
			<td align="center">
				{% if 'Deleted' not in item.name %}
				<a href="javascript:;" class="toggle-default">
					<i class="fa fa-star{% if item.isDefault == 0 %}-o{% endif %}"></i>
				</a>
				{% endif %}
			</td>
		</tr>
	{% endfor %}
	</tbody>
</table>
<script src="{{ asset('js/ajax-toggle.js?id='~ 'now'|date('U')) }}"></script>
