{% extends 'base_admin.html.twig' %}
{% block title %}Products{% endblock %}
{% block content %}
<div class="content home">
	
</div>
{% endblock %}
{% block javascripts %}
{{ parent() }}
<script>
	$('#menu-home').addClass('active');
</script>
{% endblock %}
