	<div class="menu-sub animated slideInLeft hidden" id="sub-menu-pages">
		<ul class="list-unstyled">
			<li><a href="{{ path('admin_content') }}" id="submenu-page">Pages</a></li>
			<li><a href="{{ path('admin_blog') }}" id="submenu-blog">Blog</a></li>
		</ul>
	</div>
