	<div class="menu-sub animated slideInLeft hidden" id="sub-menu-rental">
		<ul class="list-unstyled">
			<li><a href="{{ path('admin_rental') }}" id="submenu-rental">Rental Page</a></li>
			<li><a href="{{ path('admin_rental_bookings') }}" id="submenu-rental-bookings">Bookings</a></li>
		</ul>
	</div>
