	<div class="menu-sub animated slideInLeft hidden" id="sub-menu-ski-finder">
		<ul class="list-unstyled">
			<li><a href="{{ path('admin_ski_finder') }}" id="submenu-ski-finder">Skis</a></li>
			<li><a href="{{ path('admin_ski_finder_requests') }}" id="submenu-ski-finder-requests">Requests</a></li>
		</ul>
	</div>
