/* checkout */
.c-page--checkout {
  font-size: 13px;
  letter-spacing: .02em; }
  .c-page--checkout h1 {
    font-size: 31px;
    font-weight: 200;
    margin: 0;
    letter-spacing: .02em;
    text-align: left; }
    .c-page--checkout h1 span {
      font-size: 16px; }
  .c-page--checkout h3 {
    font-size: 20.5px;
    font-weight: 300;
    margin: 0; }
  .c-page--checkout .c-btn--checkout, .c-page--checkout .c-btn--continue {
    padding: 25px 0 20px;
    font-size: 13px;
    font-weight: 900;
    color: #fff;
    letter-spacing: .07em;
    width: 100%;
    margin-bottom: 10px; }
    .c-page--checkout .c-btn--checkout:hover, .c-page--checkout .c-btn--continue:hover {
      opacity: .8; }
  .c-page--checkout .c-btn--checkout {
    background: #595959; }
  .c-page--checkout .c-btn--continue {
    background: #00b7eb; }
  .c-page--checkout .o-layout--center {
    padding-top: 10px; }
    .c-page--checkout .o-layout--center img {
      width: auto !important; }
  .c-page--checkout .o-layout__item {
    font-size: 13px; }
  .c-page--checkout .u-col-left {
    padding-right: 100px;
    border-right: 1px solid #bfbfbf; }
  .c-page--checkout .u-col-right {
    padding-left: 100px; }
  .c-page--checkout b {
    letter-spacing: .1em; }
  .c-page--checkout input[type="radio"] {
    margin: 0 5px 15px 0; }
  .c-page--checkout .vip {
    color: #00b7eb; }
  .c-page--checkout .sale {
    color: #ff0000; }

table {
  width: 100%;
  padding: 0; }
  table th {
    font-size: 11.5px;
    font-weight: 300;
    height: 110px;
    vertical-align: bottom;
    padding-bottom: 20px;
    border-bottom: 1px solid #BFBFBF; }
  table td {
    font-weight: 400;
    letter-spacing: .075em;
    padding: 20px 0;
    text-align: center;
    height: 82px;
    border-bottom: 1px solid #bfbfbf; }
    table td img {
      width: 100% !important; }
  table select {
    width: 60px;
    padding-left: 10px !important; }
  table .image {
    width: 100px; }
  table .wishlist {
    width: 50px; }
    table .wishlist a {
      color: #b7b7b8;
      font-size: 17px;
      position: relative;
      z-index: 1000;
      cursor: pointer; }
      table .wishlist a:hover {
        color: #00b7eb !important; }
  table .active {
    color: #00b7eb !important; }
  table .details {
    font-size: 12px;
    line-height: 19px;
    text-align: left; }
    table .details a {
      font-weight: 600;
      color: #000;
      font-size: 13.5px;
      text-transform: uppercase; }
      table .details a:hover {
        color: #00b7eb; }
    table .details .vip, table .details .sale {
      font-weight: 700; }
  table .price {
    font-size: 17px;
    font-weight: 300; }
    table .price a {
      display: block;
      font-size: 11.5px;
      letter-spacing: .05em; }
  table .remove img {
    width: auto !important; }
  table .remove:hover {
    opacity: .5; }
  table .summary {
    padding: 60px 0;
    background: #ededed;
    font-size: 11.5px; }
    table .summary > * {
      display: block; }
    table .summary span {
      font-size: 20.5px;
      margin: 10px 0 20px; }
    table .summary b {
      font-size: 26.5px;
      margin-top: 10px;
      font-weight: 600; }

table.cart-items {
  min-width: 800px; }

.o-summary-item {
  display: block;
  clear: both; }
  .o-summary-item > * {
    float: left;
    padding-bottom: 20px; }
  .o-summary-item-image {
    width: 100px; }
    .o-summary-item-image img {
      width: 100%;
      margin: 0 !important; }
  .o-summary-item-details {
    width: calc(100% - 120px);
    padding-left: 20px;
    letter-spacing: .07em;
    line-height: 18px;
    font-size: 12px; }
  .o-summary-item a {
    display: block;
    font-size: 13.5px;
    margin-bottom: 5px;
    font-weight: 600;
    text-transform: uppercase;
    color: #000; }
    .o-summary-item a:hover {
      color: #00b7eb; }

.o-summary-shipping {
  padding: 40px 55px 35px;
  background: #ededed;
  letter-spacing: .05em; }
  .o-summary-shipping .o-layout__item {
    font-size: 17px; }
  .o-summary-shipping hr {
    margin: 25px; }
  .o-summary-shipping .total {
    font-size: 24px; }

.o-help {
  font-size: 19px;
  font-weight: 300;
  letter-spacing: .08em;
  margin: 30px 0; }
  .o-help span {
    font-size: 16px;
    font-weight: 200; }

@media (max-width: 979px) {
  .c-page--checkout h1 {
    font-size: 21px; }
  .c-page--checkout .u-col-left, .c-page--checkout .u-col-right {
    padding: 0 0 30px;
    border-right: none; }
  .c-page--checkout .u-right {
    float: left !important;
    margin-left: 20px; }
  .c-page--checkout .c-btn {
    width: 100%; }

  table th {
    height: 80px; }

  .cart-items-container {
    overflow-x: scroll; }

  table.cart-items {
    min-width: 700px; }

  .o-summary-shipping {
    padding: 20px; } }

/*# sourceMappingURL=checkout.css.map */
