html, body { padding: 0;}
.logo {
    height: 163px;
}
#header .row {
	text-align: center;
	height: 347px;
}
#header .menuDiv {
	font-size: 21.5px;
	color: #dc0451;
}
#header .menuDiv .call {
	position:absolute; 
	right: 20px;
	top:24px; 
}
#header .menuDiv strong {
	font-family: 'Bariol Bold';
}
#header .bookDiv {
	padding-left: 140px;
	text-align: left;
	font-size: 19.5px;
	color: #636363;
	font-family: 'Bariol';
}
#header .bookDiv div {
	letter-spacing: .03em;
	line-height: 26px;
	margin-bottom: 15px;
	display: block;
}
#content {
	margin-top: -30px;
}

#menu-modal {
	top: -30px; 
	left: 0;
}
#menu-modal .modal-dialog {
	width: 360px;
	float:left;
	height: 100%;
	margin: 0;
}
#menu-modal .modal-content {
	padding: 110px 0 110px 80px;
	background: #ebebeb;
	height: auto;
	min-height: 100%;
}
.modal a {
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 31px;
	color: #a1a1a1;
	display: block;
	margin-top: 25px;
}

.modal a:hover {
	color: #7d7d7d;
}
.modal-backdrop {
	opacity: 0;
}
.modal-content {
	border-radius: 0;
}

.btn-gray {
	font-size: 26.2px;
	padding: 5px 25px;
	letter-spacing: .07em;
}
h1 {
	margin: 0;
	color: #fff;
	display: block;
}
h2 {
	font-size: 41px;
	color: #009fda;
}
h3 {
	font-size: 45px;
	letter-spacing: .04em;
}
.grid { width: 100%; overflow:hidden; }
.grid-sizer, .grid-item { width: 33.33%; text-align: center; }
.grid-item img { width: 100%; }
.spacer { height: 0; }
#spacer { opacity:0; }

.bg-blue { margin-bottom: -1px;	}
.bg-green { margin-top: -1px; }
.bg-gold { margin-top: -1px; }
.col-sm-4, .col-sm-6 { padding: 0 }

@media (max-width: 1336px) {
	#header .menuDiv span {
		display: none;
	}
}
@media (max-width:768px) {
	html, body {
		padding-top: 0;
	}
	#header .menuDiv img { margin: 0 }
	.logo { height: 80px; }	
	#header .row { height: 130px; }
	h3 { font-size: 29px; }
	#content .bg-red b {
		font-family: 'Bariol Bold';
	}
	figure {
		height: 250px;
		overflow: hidden;
		width: 100%;
	}
	figure img {
		width: 100%;
	}
	#content-bottom {
		padding: 40px 10% 80px;
		text-align: left;
		font-size: 15px;
	}
	#content-bottom div {
		padding: 0;
		margin-top: 20px;
		line-height: 30px;
	}
	.btn {
		font-size: 26.2px;
		padding: 7px 25px;
		margin: 45px 0 55px;
		letter-spacing: .07em;
	}
	.bg-cyan { margin-top: -1px; }
}
@media (min-width: 421px) and (max-width: 768px) {
	figure {
		height: 350px;
	}
}

@media (min-width: 768px) and (max-width: 991px) {
	#header .row {
		height: 250px;
	}
	.caption-book h3 { font-size: 30px; }
	figure figcaption {
		margin-top: 20px;
		margin-left: 20%;
	}
	.grid-sizer, .grid-item { width: 50%; }
}
@media (min-width: 992px) and (max-width: 1199px) {
	#header .row {
		height: 300px;
	}
	h3 { font-size: 40px; }
	figure figcaption {
		margin-top: 30px;
		margin-left: 25%;
	}
}
@media (min-width: 1200px) and (max-width:1366px) {
	figure figcaption {
		margin-top: 30px;
		margin-left: 25%;
	}
	.call {
		display: none;
	}
}
@media (min-width:1367px) and (max-width:1450px) {
	#header .menuDiv .call {
		top: 60px;
		left: 20px;
	}
}

@media (min-width:1367px) and (max-width:1920px) {
  .menuDiv img {
  	margin-left: 15px;
  }
	#footer .bg-blue {
		padding: 20px 0 40px 250px;
	}
  #footer .col-lg-2 {
  	margin-left: -60px;
  }
	#footer .bg-gray {
		padding: 85px 250px;
	}
  #footer .bg-gray .col-lg-7 {
  	padding-right: 100px;
  }
	@-moz-document url-prefix() { 
		.bg-blue { margin-bottom: 0	}
		.bg-green { margin-bottom: -1px }
		.bg-gold { margin-top: 0; }
	}
}
@media (min-width:1921px) {
  .container-fluid {
    width: 1905px;
    background: #fff;
  }
}