/* header */
#header {
  position: fixed;
  z-index: 10000;
  top: 0;
  left: 0;
  right: 0; }

.a-toolbar {
  background: #f4f4f4;
  height: 37px;
  color: #262626; }
  .a-toolbar > div {
    position: relative; }

.a-call {
  font-size: 14px;
  color: #000;
  background: #d1d0d0;
  border-radius: 0 0 9px 9px;
  height: 37px;
  padding: 10px 60px;
  position: absolute;
  letter-spacing: .07em;
  left: 25%; }

.a-toolbar-right {
  position: absolute;
  right: 15px; }
  .a-toolbar-right > * {
    float: left; }
  .a-toolbar-right > a {
    line-height: 16px;
    letter-spacing: .01em;
    padding: 3px 15px 0;
    margin-top: 10px;
    color: #262626;
    border-right: 1px solid #bfbfbf; }
    .a-toolbar-right > a:hover {
      color: #00b7eb; }

.main-menu a:hover {
  color: #00b7eb; }

.a-search {
  background: url(../images/icon-search.png) no-repeat 95% 12px #e1e0e0;
  width: 100%;
  height: 37px;
  border: 0;
  width: 208px;
  margin: 0 10px 0 15px;
  padding-left: 15px; }

.a-box-icon {
  height: 37px;
  width: 37px; }
  .a-box-icon > a {
    padding: 10px 0;
    display: block; }

.a-toolbar-popup {
  display: none;
  padding: 25px;
  background: #f4f4f4;
  position: absolute;
  z-index: 10001;
  right: 0;
  top: 37px; }
  .a-toolbar-popup.active {
    display: block; }
  .a-toolbar-popup b {
    text-transform: uppercase; }

.heart {
  background: url("../images/icon-heart.png") no-repeat center; }
  .heart:hover {
    background: url("../images/icon-heart-hover.png") no-repeat center; }

.location {
  background: url("../images/icon-location.png") no-repeat center; }
  .location:hover {
    background: url("../images/icon-location-hover.png") no-repeat center; }

.cart {
  background: url("../images/icon-cart.png") no-repeat center;
  position: relative; }
  .cart > div {
    position: absolute;
    font-weight: 400;
    bottom: 2px;
    width: 20px;
    right: -12px;
    font-size: 11px; }
  .cart:hover {
    background: url("../images/icon-cart-hover.png") no-repeat center; }

.account {
  background: url("../images/icon-account.png") no-repeat center; }
  .account:hover {
    background: url("../images/icon-account-hover.png") no-repeat center; }

.a-header {
  background: rgba(255, 255, 255, 0.8); }
  .a-header > div {
    display: block;
    height: 108px;
    position: relative;
    padding: 0; }

.logo {
  position: absolute;
  left: 0;
  top: 22px; }

.main-menu {
  position: absolute;
  bottom: -8px;
  right: 82px; }
  .main-menu li {
    display: inline-block; }
  .main-menu a {
    text-transform: uppercase;
    color: #000;
    font-weight: 600;
    font-size: 12.5px;
    letter-spacing: 0.11em;
    padding: 10px 25px; }

.mobile-banner {
  display: none; }

@media screen and (max-width: 767px) {
  .main-menu, .a-call, .a-search, .carousel {
    display: none; }

  .a-toolbar-right {
    width: 100%;
    right: 0;
    padding: 0 5px; }
    .a-toolbar-right > div {
      float: right; }

  .mobile-banner {
    display: block;
    overflow: hidden;
    padding: 0; }
    .mobile-banner img {
      position: relative;
      left: 50%;
      transform: translateX(-50%);
      -webkit-transform: translateX(-50%);
      width: auto;
      height: 300px; } }
@media (min-width: 768px) and (max-width: 991px) {
  .main-menu {
    right: 0; }
    .main-menu a {
      padding: 10px .6rem;
      letter-spacing: 0.04em; }

  .a-call {
    left: 10%;
    visibility: hidden; } }
@media (min-width: 992px) and (max-width: 1199px) {
  .main-menu {
    right: 0; }
    .main-menu a {
      padding: 10px 2rem; } }
@media (max-width: 1199px) {
  .logo {
    left: 20px; } }
/* figure */
figure.home {
  margin: 0;
  position: relative;
  background: #000;
  display: block; }
  figure.home figcaption {
    position: absolute;
    bottom: 55px;
    text-align: center;
    width: 100%; }
    figure.home figcaption h2 {
      font-size: 31px;
      font-weight: 300;
      color: #fff;
      text-transform: uppercase;
      margin-bottom: 30px; }
  figure.home img {
    width: 100%; }
  figure.home:hover img {
    opacity: .8;
    transition: 0.33333s; }
  figure.home:hover button {
    background: #00b7eb;
    border: 1px solid #00b7eb;
    font-weight: 900; }

/* misc */
.a-no-border {
  border: 0 !important; }

/* inuit extension */
.o-list-bare li a {
  margin: 0;
  padding: 0; }

/* tooltip */
.tooltip-text {
  display: none;
  position: absolute;
  z-index: 10001;
  border: 1px solid #333;
  background-color: #161616;
  padding: 5px 7px;
  color: #fff;
  font-size: 12px Arial; }

/* modal */
.modal-open {
  overflow: hidden; }

.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1050;
  display: none;
  overflow: hidden;
  -webkit-overflow-scrolling: touch;
  outline: 0; }
  .modal.fade .modal-dialog {
    -webkit-transition: -webkit-transform .3s ease-out;
    -o-transition: -o-transform .3s ease-out;
    transition: transform .3s ease-out;
    -webkit-transform: translate(0, -25%);
    -ms-transform: translate(0, -25%);
    -o-transform: translate(0, -25%);
    transform: translate(0, -25%); }
  .modal.in .modal-dialog {
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0); }

.modal-open .modal {
  overflow-x: hidden;
  overflow-y: auto; }

.modal-dialog {
  position: relative;
  width: auto;
  margin: 10px; }

.modal-content {
  position: relative;
  background-color: #fff;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border: 1px solid #999;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  outline: 0;
  -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
  box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5); }

.modal-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1040;
  background-color: #000; }
  .modal-backdrop.fade {
    filter: alpha(opacity=0);
    opacity: 0; }
  .modal-backdrop.in {
    filter: alpha(opacity=50);
    opacity: .5; }

.modal-header {
  padding: 15px;
  border-bottom: 1px solid #e5e5e5; }
  .modal-header .close {
    margin-top: -2px; }

.modal-title {
  margin: 0;
  line-height: 1.42857143; }

.modal-body {
  position: relative;
  padding: 15px; }

.modal-footer {
  padding: 15px;
  text-align: right;
  border-top: 1px solid #e5e5e5; }
  .modal-footer .btn + .btn {
    margin-bottom: 0;
    margin-left: 5px; }
  .modal-footer .btn-group .btn + .btn {
    margin-left: -1px; }
  .modal-footer .btn-block + .btn-block {
    margin-left: 0; }

.modal-scrollbar-measure {
  position: absolute;
  top: -9999px;
  width: 50px;
  height: 50px;
  overflow: scroll; }

@media (min-width: 768px) {
  .modal-dialog {
    width: 600px;
    margin: 30px auto; }

  .modal-content {
    -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5); }

  .modal-sm {
    width: 300px; } }
@media (min-width: 992px) {
  .modal-lg {
    width: 900px; } }
.modal-header:before, .modal-header:after {
  display: table;
  content: " "; }

.modal-footer:before, .modal-footer:after {
  display: table;
  content: " "; }

.modal-header:after, .modal-footer:after {
  clear: both; }

#content {
  min-height: 1000px; }

.main-menu, .o-layout__item, .logo {
  transition: all 0.33333s; }

/*# sourceMappingURL=style.css.map */
