<p>{{ store_name }},</p>

<p>A recently registered customer at Vend used an email address that is already used by an account at the site.</p>

<p><b>Customer:</b> 
{{ item.first_name }} {{ item.last_name }}
</p>
<p><b>Email:</b> 
{{ item.email }}
</p>