{% extends "base.html.twig" %}
{% form_theme form 'bootstrap_3_layout.html.twig' %}

{% block body %}
    <h1>Login Details</h1>
    {{ form_start(form, { 'action': path('fos_user_profile_edit'), 'attr': { 'class': 'fos_user_profile_edit' } }) }}
    {{ form_widget(form) }}
    <div>
        <input type="submit" class="btn btn-primary" value="Save Changes" />
    </div>
    {{ form_end(form) }}
{% endblock %}
