<p>Dear {{ order.billing.firstName }} {{ order.billing.lastName }},</p>

<p>Your order {{ order.invoiceNumber }} was cancelled due to: </p>
<p>{{ order.note }}</p>

<p>Your payment has been refunded.</p>

<p>Please reply to this email if you have any questions or concerns.</p>

<p>Regards</p>

<p>The Gnomes Team.</p>
