<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html style="margin-top:0;margin-bottom:0;margin-right:0;margin-left:0;padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;font-weight:300;font-size:13px;font-family:'Biryani', sans-serif;letter-spacing:.02em;width:100%!important;" >
<head>
 
<meta name="viewport" content="width=device-width"/>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
<title>Gnomes Alpine Sports</title>

<link href="https://fonts.googleapis.com/css?family=Biryani:200, 300,400,700" rel="stylesheet">
</head>
<body style="margin-top:0;margin-bottom:0;margin-right:0;margin-left:0;padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;font-weight:300;font-size:13px;font-family:'Biryani', sans-serif;letter-spacing:.02em;width:100%!important;" >
 <div class="container" style="display:block!important;max-width:800px!important;margin-top:0 !important;margin-bottom:0 !important;margin-right:auto !important;margin-left:auto !important;clear:both!important;" >
<table style="width:100%;" >
	<tr>
		<td class="nopad" style="vertical-align:top;padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;" ><img src="https://gnomes.co.nz/images/email/banner.jpg" alt="Look who's getting fancy now." style="max-width:100%;" /></td>
	</tr>
	<tr>
		<td class="pad-h" style="vertical-align:top;padding-left:20px;padding-right:20px;" >
			<h1 style="font-size:18px;font-weight:200;margin-top:40px;margin-bottom:20px;margin-right:0;margin-left:0;letter-spacing:0;" >WE'VE JUST LAUNCHED OUR BRAND NEW WEBSITE. AS A REGISTERED GNOMES CUSTOMER, YOU'LL NEED TO RESET YOUR LOGIN DETAILS - IT'S EASY, SEE BELOW.</h1>
			<hr style="border-style:none;border-top-width:1px;border-top-style:solid;border-top-color:#bfbfbf;margin-bottom:20px;" />
		</td>
	</tr>
	<tr>
		<td class="content" style="vertical-align:top;width:100%;padding-top:0;padding-bottom:40px;padding-right:30px;padding-left:20px;" >
			<p>Hi {{ name }}</p>
			<p>As a registered VIP of our old site, we're getting in touch to let you know we've just launched our new website. To take advantage of our VIP pricing on the new site, we'll need you to register by resetting your password. 
			Sign in to the new site <a href="https://gnomes.co.nz/account/register" style="text-decoration:none;color:#00b7eb;" >here</a>, using these details:</p>
			<p>
				<strong>Email: </strong> {{ email }}<br />
				<strong>Password: </strong> {{ password }}
			</p>
			<div class="spacer" style="margin-top:30px;margin-bottom:30px;margin-right:0;margin-left:0;" ></div>
			<a href="https://gnomes.co.nz/account/register" class="btn" style="text-decoration:none;background-color:#00b7eb;background-image:none;background-repeat:repeat;background-position:top left;background-attachment:scroll;font-weight:600;color:#fff;padding-top:10px;padding-bottom:10px;padding-right:25px;padding-left:25px;" >RE-REGISTER NOW</a>
			<p><br />We’re pretty excited about the new site - a totally new layout that makes browsing and purchasing as easy as
getting down a green run backwards with your eyes closed. Though we don’t recommend that - black runs are
 much more fun.</p>

<p>We have all your fave products as usual, as well as stacks of really useful info on finding the perfect ski,
our popular ski boot buying guide and down-low on the latest tech from the snow industry all packaged
up neatly within our blog.</p>

<p>If you’re not already a VIP member, it’s super easy to sign up to benefit from the comprehensive discounts
on offer to all VIP mates.</p>
			<div class="spacer" style="margin-top:30px;margin-bottom:30px;margin-right:0;margin-left:0;" ></div>
			<a href="https://gnomes.co.nz/account/register" class="btn" style="text-decoration:none;background-color:#00b7eb;background-image:none;background-repeat:repeat;background-position:top left;background-attachment:scroll;font-weight:600;color:#fff;padding-top:10px;padding-bottom:10px;padding-right:25px;padding-left:25px;" >VIP PRICING</a>
			<p><br />So yeah, come over, say hi and get kitted out for winter on the slopes.</p>

<p>Yours, in great anticipation of an epic winter season,</p>

<p><b style="font-weight:400;" >Ally, Leith and the Gnomes Crew</b></p>
		</td>
	</tr>
	<tr>
		<td class="side" style="vertical-align:top;width:100%;padding-top:0;padding-bottom:80px;padding-right:20px;padding-left:20px;" >
			<h2 style="font-size:16px;font-weight:400;margin-bottom:20px;" >GNOMES ALPINE SPORTS</h2>
			<p>26 South Terrace, Darfield<br />
			Canterbury, 7510</p>
			<p>
				<strong>Phone:</strong> 03 318 8433<br />
				<strong>Email:</strong> <a href="mailto:info@gnomes.co.nz" style="text-decoration:none;color:#00b7eb;" >info@gnomes.co.nz</a>
			</p>
			
			<h2 style="margin-top:30px;font-size:16px;font-weight:400;margin-bottom:20px;" >SHOP HOURS</h2>
			<p>
				<strong>Monday - Friday:</strong> 9am - 6pm<br />
				<strong>Saturday:</strong> 9am - 5pm<br />
				<strong>Sunday:</strong> 10am - 4pm
			</p>
			<hr class="thick" style="border-style:none;border-top-width:4px;border-top-style:solid;border-top-color:#00b7eb;margin-top:30px;margin-bottom:30px;margin-right:0;margin-left:0;" />
			<h2 style="font-size:16px;font-weight:400;margin-bottom:20px;" >CONNECT</h2>
			<a href="https://www.facebook.com/gnomes.alpine.sports" style="text-decoration:none;color:#00b7eb;" ><img src="https://gnomes.co.nz/images/email/fb.png" style="max-width:100%;" /></a>
			<a href="https://twitter.com/Gnomes_Snow" style="margin-top:0;margin-bottom:0;margin-right:15px;margin-left:15px;text-decoration:none;color:#00b7eb;" ><img src="https://gnomes.co.nz/images/email/tw.png" style="max-width:100%;" /></a>
			<a href="#" style="text-decoration:none;color:#00b7eb;" ><img src="https://gnomes.co.nz/images/email/in.png" style="max-width:100%;" /></a>
		</td>
	</tr>
	<tr>
		<td class="footer" style="vertical-align:top;background-color:#ededed;background-image:none;background-repeat:repeat;background-position:top left;background-attachment:scroll;padding-bottom:20px;text-align:center;" ><h1 style="font-size:18px;font-weight:200;margin-top:40px;margin-bottom:20px;margin-right:0;margin-left:0;letter-spacing:0;" ><a href="https://gnomes.co.nz" style="text-decoration:none;color:#000;" >gnomes.co.nz</a></h1></td>
	</tr>
</table> 
</div>
</body>
</html>